pyparsing==2.0.2
notebook==6.5.3
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator==0.6.1
yapf
Pillow==7.1.1
numpy==1.21.6
pandas
matplotlib
seaborn
dill
pylint
python-language-server
flake8
autopep8
ipykernel
scikit-learn
tqdm
pyspark==3.2.0
geni-lib
rpyc
pyzmq